@import "tailwindcss";

@theme {
  --color-primary: #3b7dbd;
  --color-primary-dark: #2a6ca5;
  --color-secondary: #86d7e9;
  --color-accent: #e8453c;
  --color-border: #a8dceb;
}
html,
body {
  width: 100%;
}

#root {
  overflow-x: clip;
  width: 100%;
}

.leaflet-container {
  z-index: 0 !important;
}

.leaflet-pane,
.leaflet-top,
.leaflet-bottom,
.leaflet-control {
  z-index: 0 !important;
}
@keyframes progress {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.animate-progress {
  animation: progress linear forwards;
}
